<%- include('partialsTwo/headerTwo') %>


<div class="jumbotron centered" style="background: linear-gradient(135deg, rgba(227, 238, 255, 0.8) 0%, rgba(243, 231, 233, 0.8) 100%); box-shadow: 5px 5px 10px rgba(0,0,0,0.3);">
  <div class="container" >
    <i class="fas fa-tasks fa-6x"></i>
    <h1 class="display-3" style="color: black;">To-do List</h1>
    <h3 class="lead" style="color: black;">Organize your work</h3>
    <hr style="border: 0.8px solid black;">
    <a class="btn btn-light btn-lg"" href="/register" role="button">Register</a>
    <a href="" style="padding:18%"></a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partialsTwo/footerTwo') %>
